/*-----------------HEADER-----------------*/

.cabecalho {
    background-color: #21232c;
}

#overheader {
    background-color: #21232c;
    width: 100%;
}

#logonav {
    float: left;
    width: 80px;
    margin-top: 16px;
    margin-left: 16px;
}

#nameid {
    text-align: center;
    padding-top: 24px;
    color: #fff;
}

#buttonskali {
    float: right;
    width: 80px;
    margin: 16px;
}

#navnav {
    clear: both;
    background-color: #21232c;
    padding: 8px;
}

/*-----------------BODY-----------------*/
body {
    background-color: black;
}

#centro {
    margin-top: 10em;
}

#tagkali {
    color: red;
    padding: 8px;
}

#piscando {
    color: #fff;
    animation: blinker 0.75s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#apresentacao {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-size: 55px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    padding: 8px;
}

#nomedesenhado {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#vamosla {
    margin-left: 47%;
}

/*-----------------SOBRE MIM-----------------*/

/*-----------------EDUCAÇÃO-----------------*/
#educacao {
    font-family: "Ubuntu", "Arial", sans-serif;
    color: #FFFFFF;
    padding: 24px;
    padding-top: 8px;
}

td {
    padding: 16px;
    vertical-align: top;
}


/*-----------------EXPERIÊNCIA-----------------*/
#experiencia {
    margin-left: -1080px;
    margin-top: -1080px;
}

#expimg {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-----------------PROJETOS-----------------*/

/*-----------------GERAL-----------------*/
hr {
    color: aliceblue;
}

#texto {
    font-family: "Ubuntu", "Arial", sans-serif;
    color: #FFFFFF;
}