/*-----------------HEADER-----------------*/

.cabecalho {
    background-color: #21232c;
}

#overheader {
    background-color: #21232c;
    width: 100%;
}

#logonav {
    float: left;
    width: 80px;
    margin-top: 16px;
    margin-left: 16px;
}

#nameid {
    text-align: center;
    padding-top: 24px;
    color: #fff;
}

#buttonskali {
    float: right;
    width: 80px;
    margin: 16px;
}

#navnav {
    clear: both;
    background-color: #21232c;
    padding: 8px;
}

/*-----------------BODY-----------------*/
body {
    background-color: black;
}

#centro {
    margin-top: 10em;
}

#tagkali {
    color: red;
    padding: 8px;
}

#piscando {
    color: #fff;
    animation: blinker 0.75s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#apresentacao {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-size: 55px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    padding: 8px;
}

#nomedesenhado {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#vamosla {
    margin-left: 47%;
}

/*-----------------SOBRE MIM-----------------*/
#intro {
    margin: 24px;
    font-size: 24px;
}

#dados {
    list-style-type: none;
    font-size: 20px;
}

#itens {
    margin: 16px;
}

#icones {
    margin-left: 16px;
}

#skillsgeral {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 24px;
    display: block;
    display: inline-block;
    margin: 16px;
    text-align: center;
}

#skills {
    height: 100px;
    width: 100px;
    border: solid 1px #fff;
    color: #fff;
    display: flex;
    justify-content: center;
}

#imgskills {
    width: 50px;
    margin: auto;
}

/*-----------------EDUCAÇÃO-----------------*/
#educacao {
    font-family: "Ubuntu", "Arial", sans-serif;
    color: #FFFFFF;
    margin: 16px;
}

#cursosgeral {
    color: white;
    font-family: "Ubuntu", "Arial", sans-serif;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#cursos {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 24px;
    display: block;
    display: inline-block;
    margin: 24px 18px;
    vertical-align: text-top;
}


/*-----------------EXPERIÊNCIA-----------------*/
#seta {
    display: inline-block;
}

#triangulo {
    border: solid white;
    border-width: 0 8px 8px 0;
    padding: 16px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 48px;
}

#linha {    
    border-left: 8px solid white;
    height: 47em;
    margin-left: 64px;
    margin-top: -90px;
}

#topico1 {
    height: 24px;
    width: 24px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: -16px;
    margin-top: 70px;
}

#topico2 {
    height: 24px;
    width: 24px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -16px;
    margin-top: 180px;
}

#experiencia {
    display: inline-block;
    vertical-align: top;
    margin-top: 88px;
    font-family: "Ubuntu", "Arial", sans-serif;
    color: #fff;
    font-size: 100%;
    padding: 0 16px;
}

#exp2 {
    margin-top: 88px;
}

/*
#expimg {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*/

/*-----------------PROJETOS-----------------*/
#projetosgeral {
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
}

#projetos {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 24px;
    display: block;
    display: inline-block;
    margin: 24px 18px;
}

#projetos a {
    color: #FFFFFF;
    text-decoration: none;
}

#projetovazio {
    height: 200px;
    width: 300px;
    background-color: lightgray;
    border-radius: 16px;
}

/*-----------------GERAL-----------------*/
hr {
    color: aliceblue;
}

#texto {
    font-family: "Ubuntu", "Arial", sans-serif;
    color: #FFFFFF;
}